# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/
dist/

# env
.env
.env*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem

# vscode/idea
.vscode/
.idea/

# prisma
prisma/migrations/dev.db*
